<a href="https://colab.research.google.com/github/bvdsb01/python/blob/main/Day3_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python supports 3 categories of data types


*   Basic Types - integer,float, complex, boolean, string
*   Container Types - Lists, tuples, sets and dictionary
*   User Defined Types - Classes (OOP)

#Interview question - name 10 datatypes in Python

In [8]:
#integer - any number, python can handle large numbers too
#so python can handle large numbers till 10^308 and at 10^309 it prints infinity

print(2)
print(45677878665653787849739249827438236487638746732547325478326000000000000000000000000000000000078)
print(1e308)
print(1e309)

2
45677878665653787849739249827438236487638746732547325478326000000000000000000000000000000000078
1e+308
inf

In [17]:
print(1e-308)
print(1e-309)

1e-308
1e-309

In [14]:
print(1e-3010)

0.0

In [19]:
#float basically means decimal

print(4.5)
print(1.7e308)
print(1.7e309)

4.5
1.7e+308
inf

In [20]:
#boolean - True False
print(True)
print(False)

True
False

In [26]:
#complex - 2+3i (iota) its a invalid decimal literal

print(4+5j)
print(2+3j)

(4+5j)
(2+3j)

In [29]:
#string

print('India')
print("India")
print('''India''')
print("""India""")

India
India
India
India

In [30]:
# list - In other languages its an array

print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [31]:
# tuple - uses small brackets

print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [33]:
# sets - uses curly brackets

print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [35]:
# dictionary - searching is very fast - key value pairs

print({"Name": "Tree", "Age": 205, "Place": "Amazon"})

{'Name': 'Tree', 'Age': 205, 'Place': 'Amazon'}