<a href="https://colab.research.google.com/github/bvdsb01/python/blob/main/lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lambda Function**

* One line functions, can't be multiline
* Don't have a name
* Lambda has no return value, it returns the whole function
* type of x,a,b is function
* **Not used for code reusability**

In [1]:
x = lambda x:x**2
print(x(4))

16

In [9]:
a = lambda x,y,z: x+y+z
print(a(2,3,4))

9

In [8]:
b = lambda b: "Even" if b%2 == 0 else "Odd"
print(b(4))
print(b(5))

Even
Odd

In [10]:
c = lambda x:x[0] == "a"
c("apple")

True

#**Higher Order Function**

In [13]:
# Output1 - even no.s sum
# Output2 - odd no.s sum
# Output3 - sum of no.s divisible by 3

def return_sum(l):

  even_sum = 0
  odd_sum = 0
  div3_sum = 0

  for i in l:
    if i%2 == 0:
      even_sum += i
    if i%2 != 0:
      odd_sum += i
    if i%3 == 0 :
      div3_sum += i

  return (even_sum, odd_sum, div3_sum)

l = [11,14,21,23,56,78,45,29,28]
return_sum(l)

(176, 129, 144)

In [14]:
#Converting above code to higher order function

def return_sum(func, l):

  result = 0

  for i in l:
    if func(i):
      result += i

  return result

a = lambda x : x%2 == 0
b = lambda x : x%2 != 0
c = lambda x : x%3 == 0

print(return_sum(a,l))
print(return_sum(b,l))
print(return_sum(c,l))

176
129
144

#Already existing Higher Order Functions (HOF) in python

* Map
* Filter
* Reduce

In [17]:
map(lambda x:x**2, l) #returns a map object

In [16]:
list(map(lambda x:x**2, l)) #doubles the value of list

[121, 196, 441, 529, 3136, 6084, 2025, 841, 784]

In [19]:
tup = (1,2,3,4,5,6,7)
tuple(map(lambda a:a**2, tup))

(1, 4, 9, 16, 25, 36, 49)

In [20]:
list(map(lambda a:a**2, tup))

[1, 4, 9, 16, 25, 36, 49]

In [21]:
set(map(lambda a:a**2, tup))

{1, 4, 9, 16, 25, 36, 49}

In [23]:
a = list(map(lambda a : a%2==0, l)) #tells which elements are divisible by 2
print(a)

[False, True, False, False, True, True, False, False, True]

In [24]:
students = [
    {
        "name": "Jacob Martin",
        "address": "123 Hill Street"
    },
    {
        "name": "Agela Stevens",
        "address": "3 upper street london"
    },
    {
        "name": "Ricky Smart",
        "address": "Unknown"
    }
]

In [26]:
list(map(lambda x : x['name'], students))

['Jacob Martin', 'Agela Stevens', 'Ricky Smart']

In [35]:
z = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x : x > 4, z))

[5, 6, 7, 8, 9, 10]

In [42]:
fruits = ['apple', 'orange', 'guava', 'grapes']
print(list(filter(lambda fruit : 'e' in fruit, fruits)))

for i in fruits:
  if 'e' in i:
    print(i)

['apple', 'orange', 'grapes']
apple
orange
grapes

In [50]:
import functools

l1 = [11, 12, 56, 58, 32]
print(functools.reduce(lambda x,y: x if x > y else y, l1))
print(functools.reduce(lambda x,y: x if x < y else y, l1))
print(functools.reduce(lambda x,y: x + y, l1))

58
11
169

#**List Comprehension**

In [53]:
l = [1,2,3,4,5,6]
l1 = [item * 2 for item in l]
l1

[2, 4, 6, 8, 10, 12]

In [55]:
l2 = [i**2 for i in l if i%2 == 0]
l2

[4, 16, 36]

In [56]:
fruits

['apple', 'orange', 'guava', 'grapes']

In [57]:
l4 = [fruit for fruit in fruits if fruit[0] == 'o']
l4

['orange']

#**Dictionary Comprehension**

In [58]:
d = {'name': 'nitish', 'gender': 'male', 'age': 30}
d.items()

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 30)])

In [60]:
d1 = {key: value for key, value in d.items() if len(key) > 3}
d1

{'name': 'nitish', 'gender': 'male'}

In [63]:
print(l)
d2 = {item: item**2 for item in l}
d2

[1, 2, 3, 4, 5, 6]

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [65]:
d3 = {item: item**2 for item in l if item%2 == 0}
d3

{2: 4, 4: 16, 6: 36}