<a href="https://colab.research.google.com/github/bvdsb01/python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tuple** - immutable

#**Tuples are read only datatypes**

#**Helps where data integrity is important.**

In [24]:
t = () # empty tuple
print(type(t))
print(t)
t1 = (1,2,3,5,6,7,4) # homogeneous tuple
print(t1)
t2 = (1,2.5,"Hello", 4j) # heterogeneous tuple
print(t2)
t3 = (1,2,(4,5)) # 2D tuple
print(t3)

<class 'tuple'>
()
(1, 2, 3, 5, 6, 7, 4)
(1, 2.5, 'Hello', 4j)
(1, 2, (4, 5))

#Tuple with one element is not a tuple

In [7]:
t4 = (1)
print(t4)
print(type(t4))

t5 = ("Hello")
print(type(t5))

1
<class 'int'>
<class 'str'>

#How to make a single element tuple - use comma at end

In [9]:
t6 = (1,)
print(t6)
print(type(t6))

t7 = ("hello",)
print(t7)
print(type(t7))

(1,)
<class 'tuple'>
('hello',)
<class 'tuple'>

In [13]:
t8 = tuple("goa") #tuple from a string
print(t8)
t9 = tuple("hello world")
print(t9)

('g', 'o', 'a')
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [14]:
t10 = tuple([1,2,3,4]) #tuple from a list
t10

(1, 2, 3, 4)

#Accessing items in tuple works same as list and string t[0], t[-1]

#Difference is in editing - once tuple is created cannot be modified - no addition no deletion

In [ ]:
del t1

In [17]:
del t2[0] # not possible because tuples are immutable

TypeError: 'tuple' object doesn't support item deletion

#Concatenation, multiplication, looping and membership operators work like in list

Tuple has sorted() but not sort()

In [25]:
print(sorted(t1)) # converts to list
print(min(t1))
print(max(t1))
print(len(t1))
print(t1)

[1, 2, 3, 4, 5, 6, 7]
1
7
7
(1, 2, 3, 5, 6, 7, 4)